$white:#fff;
$black: #000;
$gray-light: #BFBEBE;
$gray-menu: #787777;
$gray-dashboard: #f8f8f8;
$blue-password: #007499;
$green-client-dashboard: #47c75c;
$green-money-dashboard: #47c75c;
$green-receipt-dashboard: #20af7c;
$green-menu-active: #20af7c;
$orange-dashboard: #ff9900;
$blue-dashboard: #007499;

//colors
$c-gray: #BFBEBE;

 