$c-white:#fff;
$c-black: #000;
$c-gray-light: #BFBEBE;
$c-gray-menu: #787777;
$c-gray-dashboard: #f8f8f8;
$c-blue-password: #007499;
$c-green-client-dashboard: #47c75c;
$c-green-money-dashboard: #47c75c;
$c-green-receipt-dashboard: #20af7c;
$c-green-menu-active: #20af7c;
$c-orange-dashboard: #ff9900;
$c-blue-dashboard: #007499;

//colors
$c-gray: #BFBEBE;

 