$font-size-dashbord: 54px;
$font-size-welcome: 28px;
$font-size-h2: 22px;
$font-size-welcome-text: 18px;
$font-size-default: 16px;
$font-size-profile: 14px;
$font-size-small: 12px;
$font-size-super-small: 10px;