$status-delivered: #4ecb71;
$status-progress: #ffa73f;
$status-rejected: #f24e1e;
$client-edit-dashboard: #3769e9;
$client-remove-dashboard: #f24e1e;
$client-client: #47c75c;
$client-mail: #ff9900;
$client-phone: #3769E9;
$product-dashboard: #666666;
$product-date: #666666;
$product-money: #BFBEBE;
$menu-icons: #BFBEBE;

